.header {
  margin: 10px auto;
  padding: 0 220px;
  border: 1px solid black;
}

h1{
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.outerBox{
  margin: 20px auto;
  padding: 0 461px;
  border: 1px solid black;
}

ul {

  height: 500px;
  width:500px;
  border: 1px solid black;
  margin: 0 auto;
  display: inline-block;
  padding: 0;
  border: 1px solid black;
}

.container li {
  height: 98px;
  width: 98px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
  list-style-type: none;
}


.neutral {
  background: lightblue;
}

.bomb{
  background: orange;
}

.player {
  background: green;
}


