body{
  background-image: url("Black_background-2.jpg");
  background-size: cover;
  font-family: 'Henny Penny', cursive;
  color: white;

}


.header {
  margin: 10px auto;
  padding: 70px 50px 30px;
}

h1{
  margin: auto;
  text-align: center;
  font-family: 'Henny Penny', cursive;
  color: white;
  font-size: 50px;
  color: rgba(234, 227, 20, 0.77);

}
  

h2 {
  float: left;
  padding: 10px 0 10px 50px;
  margin: 10px 10px;
  display: inline-block;
  font-size: 30px;

}

h6{
  font-size: 40px;
  color: black;
  text-align: center;
}

#containerInst{
  padding: 50px 0 10px;
  width: 450px;
  display: inline-block;
 /* border: 1px solid yellow;*/
  margin: 10px;
  font-size: 30px;
  text-align: center;

}

#letters{
  width: 450px;
  padding: 20px;
  margin: 0 auto;

}

h5{
  padding: 10px;
  font-size: 40px;
  display: inline-block;
  margin: 30px 5px 10px 5px;
  color: rgba(234, 227, 20, 0.77);

}

p{
  padding: 5px;
  font-size: 18px;
  text-align: left;
  display: inline-block;
  text-align: left;
  margin-top: 3px;

}

.outerBox{
  margin: 10px 110px 10px 0;
 /* margin: 0 auto;*/
  padding: 0 11px;
  background-image: url("mrmcgonal.jpg");
  background-repeat: no-repeat;
 /* border: 1px solid yellow;*/
  display: inline-block;
  float: right;
  z-index: 9999;
  position: relative;
  width: 500px;
  border-radius: 27%;
}



ul {

  height: 500px;
  width:500px;
  margin: 0 auto;
  display: inline-block;
  padding: 0;
 /* border: 1px solid yellow;*/
  z-index: 500;
  position: relative;


}

.container li {
  height: 98px;
  width: 98px;
  padding: 0;
  margin: 0;
  float: left;
  list-style-type: none;
  border-radius: 27px 15px;
  z-index: 1;
  position: relative;
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}


.bomb{
  background-image: url("landmine option.jpg")
}

.neutral {
 /* background: lightblue;*/
  background-image: url("left.jpg")

}

.player {
  background: rgba(234, 227, 20, 0.67);
}

.win{
  background: rgba(20, 202, 234, 0.67);
  b
}

#score{
  float: right;
  margin: 0 20px;
  font-size: 30px;
  
}


#start {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:25px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
#start:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}

#start:active {
  position:relative;
  top:1px;
}


.buttonbox {
  padding: 10px 0 10px;
  width: 450px;
  display: inline-block;
 /* border: 1px solid yellow;*/
  margin: 10px;
  background-size: 30px;
  font-size: 10px;
  text-align: center;

}

#timer{
 /* border: 1px solid yellow;*/
  height: 50px;
  text-align: right;
  font-size: 20px;
}

#win-box {
  background: black;
  width: 625px;
  height: 483px;
  margin: 0 auto;
  border-radius: 27%;
  background-image: url("yay.jpg")
}

#lose-box {
  background: blue;
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#reset{

  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:25px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

#reset:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}

#reset:active {
  position:relative;
  top:1px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}




